.Products-Panelcat {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.Products-Panelcat::-webkit-scrollbar {
  width: 0;
}

.productcat {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.2);
  max-width: 200px;
  height: 255px;
  margin-left: 10px;
  margin-bottom: 5px;
  scroll-snap-align: start;
}
.Link-cat {
  text-decoration: none;
}

.ProductImagecat > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
  position: relative;
  overflow: hidden;
}
.Instockcat {
  background-color: #ea1179;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 12px;
}

.ProductImagecat {
  width: 100%;
  height: 100%;
  max-width: 185px;
  max-height: 185px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  
}
.Headlinecat {
  background: #f2f2f2;
}

.ProductTextcat {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  gap:5px;
}

.MainPricecat {
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: black;
}

.ProductNamecat {
  margin: 0;
  padding: 0 10px;
  font-size: 13px;
  color: #272829;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.productcat:hover .ProductImagecat {
  transform: scale(1.025);
}

.Cat-Scroll {
  display: flex;
}

@media (max-width: 768px) {
  .Products-Panelcat::-webkit-scrollbar {
    width: thin;
  }
}
