.btn-cart {
  display: flex;
  align-items: center;
  border: 1px solid #ea1179;
  padding: 10px;
  margin-left: 30px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  color: #ea1179;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cart-table {
  display: flex;
}
.Table-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.li-cart-last {
  cursor: pointer;
  list-style: none;
  margin-right: 50px;
  text-wrap: nowrap;
}

.line-cart {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  height: 1px;
  background-color: #eee;
  margin-right: 30px;
  margin-left: 30px;
}
.new-Table-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b4b4b3;
  padding: 0 20px;
}
.first-th {
  margin-left: 20px;
}

.new-table {
  width: 100%;
  background-color: #b4b4b3;
  height: 40px;

  font-weight: 700;
}
.btn-cart-arrow {
  margin-right: 5px;
}
.table-title {
  width: 300px;
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
}
.cart-list-image {
  width: 80px;
  height: 90px;
  object-fit: cover;
  margin-right: 10px;
  margin-left: 20px;
}

.quan-body-table {
  display: flex;
  border: 1px solid #d8d9da;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.2);
}

.quan-body-table > div:nth-child(1) {
  color: grey;
  border-right: 1px solid #d8d9da;
}

.quan-body-table > div:nth-child(2) {
  font-weight: 600;
  border-right: 1px solid #d8d9da;
  width: 20px;
}

.quan-body-table > div:nth-child(3) {
  color: grey;
}

.quan-body-table > div {
  padding: 10px;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.ul-list-main {
  background-color: white;
  width: 100%;
  color: #4a4a4a;
  font-family: "Montserrat", sans-serif;
}
.cart-right {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-right: 20px;
}

.cart-right-new {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
 

}

.cart-right-new-jigi{
  padding: 0 20px 10px 20px;
  margin-bottom: 20px;
}

.Cart-summary {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-bottom: 20px;
}

.left-li {
  display: flex;
  margin-right: 50px;
}

.li-cart {
  height: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;

}


.li-cart-mid {
  padding-right: 40px;
}

.middle-cart-item {
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
}

.li-cart-price {
  font-size: 18px;
  font-weight: 700;
}
.li-cart-price-main {
  display: flex;
  align-items: center;
  margin: 0;
  text-wrap: nowrap;
}

.cart-right {
  background-color: white;
}
.order-sum {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 700;
}
.cart-sum-next {
  display: flex;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
.cart-sum-second {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.btn-checkout {
  background-color: #ea1179;
  color: white;
  border: none;
  padding: 13px;
  border-radius: 5px;
  font-weight: 550;
  cursor: pointer;
}
.empty-cart {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 50px;
}

.empty-cart-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.sub-total {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  padding: 10px;
  display: none;
}

.btn-checkout-mobile {
  display: none;
}

.count-i{
font-size: 15px;
}



/* CHECKOUT STYLES START */ 
.check-cover{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-family: "Roboto", sans-serif;
  height: 70px;
 
 
}
  .check-line{
    border: 2px solid #ea1179;
    padding: 0;
    margin: 0;
   
  }
.help-over{
color: white;
display: flex;
align-items:center ;
gap: 10px;
}

.help-over div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;

}
.help-over div > p {
  margin: 0;
  padding: 0;
}

.check-icon{
  display: flex;
  color: white;
  font-size: 12px;
  gap: 5px;
}

.Checkout-left-top{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 20px;
}
.Checkout-left-top p{
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 5px;
 }

 .Checkout-left-top div{ 
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 14px;
 }

 .Checkout-left-bottom{
  padding: 0 20px;
  
 }

 .Checkout-body{
  display: flex;
  justify-content: space-between;
  margin: 0 50px 20px 50px;
  gap: 20px;

 }
 
 .Checkout-left{
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
 }
 

 .check-line-new{
 border: 1px solid rgb(225, 223, 223);

 }

 .second-bottom{
  background-color: white;
 
 }

 .span-check{
font-weight: 600;
color: black;
 }

 .checkout-list{
  display: flex;
  font-size: 12px;
  padding-bottom:10px;
 }

 .checkout-listext{
  display: flex;
  flex-direction: column;
 }

 .check-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
  margin-left: 20px;
}

.style-bend{
  width: 70%;
}

.Checkout-right{
  background-color: white;
  width: 25%;
  margin-top: 20px;
  border-radius: 5px;
 }
.jigi-style{
  display: none;
}
@media (max-width: 993px) {
  .cart-right {
    display: none;
  }
  .overal-summary {
    display: none;
  }

  .part-hide {
    display: none;
  }
  .Page-header {
    background-color: #f2f2f2;
    margin: 0;
  }

  .header-holder {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .header-holder h1 {
    margin-left: 20px;

  }

  .sub-total {
    display: flex;
    padding: 0 10px;
    margin: 0;
  }

  .ul-list-main {
    background-color: white;
    width: 100%;
    color: #4a4a4a;
    font-family: "Montserrat", sans-serif;
    margin:0 0 5px 0;
    padding: 0;
  }

  .Cart-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 0;
    margin-bottom: 50px;
  }

  .new-Table-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .li-cart-last {
    margin-right: 10px;
  }
  .middle-cart-item {
    margin-right: 20px;
    
  }
  .left-li {
    display: flex;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {

  .empty-cart-background {
    height: 90vh;
  }
  .ul-list {
    display: block;
  }
  .li-cart-mid {
    padding-right: 40px;
  }
  
  .middle-cart-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 25px;
  }
  .cart-i{
    font-size: 13px;
    font-weight: 600;
  }
  .li-cart-last {
    margin-right: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-wrap: nowrap;
    

  }
  
  .left-li {
    display: flex;
    margin-right: 0px;
    
  }


  .ul-list-main {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;

  }

 
  .table-title {
    width: 200px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
  }

  .li-cart {
    
    
  
   
    
  }

  .count-i{
    font-size: 14px;
    }
    


 

  .Cart-summary {
    display: block;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 100%;
  }

  .Checkout-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
  
  
   }
   .Checkout-right{
  display: none;
   }

   .style-bend{
    width: 100%;
  }

  .help-over{
    display: none;

  }
  .check-icon{
    display: none;
  }

  
  .jigi-style{
    display: block;
  }
  .go-back-style{
    background-color: white;
    width: 100%;
    padding:5px;
    margin-bottom: 10px;
  }

  .logo-text p h2{
    font-size: 18px;
    padding: 0;
    margin: 0;
  }
  .checkout-design{

    font-size: 18px;
  }
  .check-cover{
    padding: 0 10px;
    height: 70px;
  }


  .cart-sum-second-new  {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
  }
  .cart-sum-second-new  p {
    padding: 5px;
    margin: 0;
  }
  .Checkout-left-top p{
    font-weight: 600;
    gap: 5px;
    font-size: 12px
   }


   .Checkout-left-top div{ 
    gap: 5px;
    font-weight: 600;
    font-size: 12px;
   }
}
 